<!DOCTYPE html>
<html lang="en">
<head>
    {{>indexHeader}}
</head>
<body>
    {{>navbar}}
    <div class="movie-home-container">
        <header>
          <h1>Explore the Latest Movies</h1>
          <p>Find and Rent Your Favorite Films</p>
        </header>
        <section class="content">
          <div class="movie-feature">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLselblJLWAbmAmI2poa_Si4KLwhXL3CLDqw&usqp=CAU" alt="Movie Poster" />
            <h2>Action</h2>
            <p>Get your adrenaline pumping with the latest action flicks.</p>
          </div>
          <div class="movie-feature">
            <img src="https://wallpaperset.com/w/small-retina/0/4/9/56652.jpg" alt="Movie Poster" />
            <h2>Romance</h2>
            <p>Experience love stories that will tug at your heartstrings.</p>
          </div>
          <div class="movie-feature">
            <img src="https://wallpaperset.com/w/full/a/7/a/461649.jpg" alt="Movie Poster" />
            <h2>Horror</h2>
            <p>Feel the thrill with spine-chilling horror movies.</p>
          </div>
          <div class="movie-feature">
            <img src="https://wallpapercave.com/dwp1x/wp4013890.jpg" alt="Movie Poster" />
            <h2>Comedy</h2>
            <p>Laugh out loud with the latest comedy releases.</p>
          </div>
          <div class="movie-feature">
            <img src="https://w0.peakpx.com/wallpaper/826/432/HD-wallpaper-it-2017-bill-skarsgard-pennywise-thriller-new-movies.jpg" alt="Movie Poster" />
            <h2>Thriller</h2>
            <p>Keep you on the edge of your seat with suspenseful thrillers.</p>
          </div>
          <div class="movie-feature">
            <img src="https://wallpaperset.com/w/small-retina/c/a/f/226090.jpg" alt="Movie Poster" />
            <h2>Adventure</h2>
            <p>Explore the unknown and experience the extraordinary!</p>
          </div>
          <div class="movie-feature">
            <img src="https://wallpaperset.com/w/small-retina/b/0/6/96782.jpg" alt="Movie Poster" />
            <h2>Sci-Fi</h2>
            <p>Explore the wonders of science fiction with these futuristic films.</p>
          </div>
          <div class="movie-feature">
            <img src="https://wallpaperset.com/w/full/c/9/d/7102.jpg" alt="Movie Poster" />
            <h2>Anime</h2>
            <p>Dive into the world of anime with these animated masterpieces.</p>
          </div>
          <div class="movie-feature">
            <img src="https://c4.wallpaperflare.com/wallpaper/42/892/933/fragments-cosmos-a-spacetime-odyssey-documentary-wallpaper-preview.jpg" alt="Movie Poster" />
            <h2>Documentary</h2>
            <p>Discover real stories with thought-provoking documentary films.</p>
          </div>
          <div class="movie-feature">
            <img src="https://c4.wallpaperflare.com/wallpaper/920/476/887/despicable-me-3-minions-4k-8k-wallpaper-preview.jpg" alt="Movie Poster" />
            <h2>Animation </h2>
            <p>Experience animated wonders with these captivating films.</p>
          </div>
        </section>
      </div>
        {{>footer}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>