body {
    background-color: #218a8a;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .navbar {
    background-color: #555;
    margin:10px;
    overflow: auto;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  .active {
    background-color: #4caf50;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }


.form-container {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .form-container label {
    display: inline-flex;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-container input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #cccccc8e;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  .form-container input[type="checkbox"] {
    margin-top: 0px;
  }
  
  .form-container button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .form-container button:hover {
    background-color: #4caf50;
  }
  
  .form-container a {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
  }
  
  button[type="submit"]:hover {
    background-color: #2fd32f; 
  }
